/* import font */
@import url("https://fonts.googleapis.com/css?family=Poppins");

.body {
  font-family: "Poppins";
}

.sidebar {
  display: block;
  list-style: none;
  margin-bottom: 10px;
  margin-left: -30px;
  padding: 15px;
}

.sidebar:hover {
  background-color: rgb(226, 226, 226);
  border-radius: 10px;
}

.butts {
  width: 100%;
}

.side-link {
  text-decoration: none;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #a3b0bc;
  border-radius: 10px;
  color: white;
}

.mid {
  margin-top: 10px;
  margin-bottom: 10px;
}

.details {
  border: 2px solid #6c757d;
  border-radius: 10px;
  display: inline-block;
}

.logo {
  width: 75px;
  height: 75px;
  margin-bottom: 30px;
}

.airline-name {
  padding-top: 50px;
}

.ms-10 {
  margin-left: 100px !important;
}

.navbar {
  box-shadow: 1px 1px 10px rgb(141, 147, 172, 0.5);
}

.navbar .collapse .input-group input {
  border-radius: 20px;
  border-right: none !important;
  height: 35px;
  width: auto;
  
}

.navbar .collapse .input-group span {
  border-radius: 20px;
  background-color: white !important;
  border-left: none !important;
  padding-right: 10px;
  height: 35px;
  width: auto;
  padding-bottom: 8px;
}

.listStyle {
  list-style: none;
}

.listStyle a {
  text-decoration: none;
  color: #6c757d;
  display: flex;
}

.footer-down {
  padding-top: 20px;
  padding-bottom: 10px;
}
.imgFooter {
  margin-left: -25px;
}

.customMainProfile {
  margin-top: 55px;
}

.blue {
  color: #2395ff !important;
}
.bgBlue {
  background-color: #2395ff !important;
}

.customBorderProfile {
  border-radius: 15px !important;
}

.customBorder {
  border: 3px solid #2395ff !important;
}
.customBorderInput {
  border: none;
}

.bgImage {
  background-image: url("../assets/images/bgImageTopDest.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 50px;
}

.infoNext {
  background-color: white !important;
  color: #2395ff !important;
  width: 50px !important;
}

.infoNext:hover {
  background-color: #a3b0bc !important;
  border-color: white !important;
  color: white !important;
}

.infoBack {
  border-color: white !important;
  color: white !important;
  width: 50px !important;
}
.infoBack:hover {
  background: white !important;
  color: #2395ff !important;
}

.wArrow {
  font-size: 30px !important;
}

.textFlight {
  color: #2395ff;
}

.customImageBubble {
  margin-top: 10px;
  margin-right: 100px;
}

.customCollapseView{
    min-height: 120px;
}

.card {
  border-radius: 20px !important;
  border: none !important;
  box-shadow: 0px 10px 10px rgb(221, 216, 216, 0.7) !important;
  border: 1px solid rgb(240, 233, 233) !important;
}

.customCard{
    width: 380px !important;
    margin-left: 0px !important;
    margin-top: -600px !important;
    padding: 40px !important;
    height: auto !important;
}

.customCard .border-destination{
  box-shadow: 1px 2px 10px rgb(221, 216, 216) !important;
  width: auto;
  border-radius: 10px;
}

.navbar-nav .btn-signup {
  background-color: #2395ff;
  box-shadow: 1px 2px 10px rgb(221, 216, 216) !important;
  color: white;
  border-radius: 15px;
  width: 110px;
}

#trending .customSpace .cardLabel {
  background-color: rgb(243, 233, 233, 0.5);
  width: 100px;
  border-radius: 10px;
  color: white;
}

#trending .customSpace button {
  border: none;
}

.story img{
  padding: 7px;
}

/* media query footer */
@media (max-width: 767px) {
  .mobileOuterFooter {
    padding: 30px 0 0 0 !important;
  }
  .mobileInnerFooter {
    padding: 0 !important;
  }
}
/* media query profile navbar */
@media (max-width: 767px) {
  .mobileProfileNavbar {
    margin-left: 50px !important;
  }
}

/* media query card profile */
@media (max-width: 767px) {
  .customTitleCard {
    margin-bottom: -50px !important;
  }
}

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } */
  
  .px-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .flexRow {
    display: flex;
    flex-direction: row;
  }
  
  .flexCol {
    display: flex;
    flex-direction: column;
  }
  
  .flexAuto {
    flex: 1 1 auto;
  }
  
  .relative {
    position: relative;
  }
  
  .absolute {
    position: absolute;
  }
  
  .wFull {
    width: 100%;
  }
  
  .whitespaceNowrap {
    white-space: nowrap;
  }
  
  .gapSmall {
    gap: 8px;
  }
  
  .gapMedium {
    gap: 16px;
  }
  
  .cardSlider {
    position: relative;
    max-height: 262px;
    border-radius: 20px;
    overflow: hidden;
    z-index: 10;
  }
  
  .cardOverlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
  }
  
  .cardLabel {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10;
  }
  
  .cardDescription {
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 10px;
    z-index: 10;
    color: white;
  }

  .customSpace{
    padding: 60px !important;
    /* margin: 100px !important; */
  }
  .customButton{
    background-color: hsla(0,0%,100%,.17) !important;
    align-items: center;
    color: white !important;
    border-radius: 15px !important;
    height: 25px !important;
    width: 25px !important;
    display: flex !important;
    justify-content: center !important;
  }
  @media (max-width: 767px) {
    .customSpace{
      padding: 0 !important;
      /* margin: 100px !important; */
    }
  }
  .imgCustom {
    max-width: 160px;
    height: 160px;
    border: 5px solid white;
  }
  .spaceCust{
    margin-left: 70px;
  }
  .customImg{
    width: 800px !important;
    height: auto;
}
  @media (max-width: 767px) {
    .img-fluid{
        width: 40% !important;
        height: 50% !important;
    }
    .cusImg{
        margin-top: -120px !important;
    }
    #trending{
        margin-top: 50px !important;
    }
    .customImg{
        width: 100% !important;
        height: auto;
    }
}
.image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cardImage{
    height: 200px;
    object-fit: cover;
}

/*  */
/*  */

  
  