  .customMainBooking {
    margin-top: 55px;
  }
  
  
  .customBorderBooking {
    border-radius: 15px !important;
    height: 110px;
  }

  .order-history {
    color: #2395FF;
    text-align: end;
    margin-top: -50px;
  }

  .customBorderBooking2 {
    border-radius: 15px !important;
    height: 250px;
  }


  .btn-custom {
    border-radius: 6px;
    width: 30vh;
    height: 40px;
    border: none;
    color: white;
  }

  .color-status1 {
    background-color: #4FCF4D;
  }

  .color-status2 {
    background-color: #FF7F23;
  }

  .view-details {
    margin-left: 400px;
  }

  .view-details a {
    color: #2395FF;
    font-weight: 500;
    text-decoration: none;
  }
  
  @media (max-width: 720px) {
    .customBorderBooking2 {
      border-radius: 15px !important;
      height: 250px;
      margin-bottom: 20px;
    }

    .my-booking {
      font-size: 15px;
    }

    .my-booking2 {
      font-size: 15px;
    }

    .order-history {
      font-size: 15px;
    }

    .details {
      display: none;
    }

    .btn-custom {
      width: 20vh;
      font-size: 10px;
    }

    .date {
      font-size: 15px;
    }
  }